body {
	background: #9be7d7
}

#banner {
	width: 100%;
}

h1 {
	text-align: center
}

p {
	text-align: center;
}

#adesao {
	color: blue;
}

#secretario {
	color: rgb(158, 108, 15);
}

#outro {
	color: rgb(208, 211, 40);
}


em strong {
	color: #FF0000;
}